<!-- app/views/admin/sales/index.html.erb -->

<h1>All Sales</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Percent Off</th>
      <th>Starts On</th>
      <th>Ends On</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.name %></td>
        <td><%= sale.percent_off %>%</td>
        <td><%= sale.starts_on %></td>
        <td><%= sale.ends_on %></td>
        <td>
          <%= link_to 'Edit', edit_admin_sale_path(sale) %> |
          <%= link_to 'Delete', admin_sale_path(sale), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Sale', new_admin_sale_path %>
