<%# app/views/carts/_item.html.erb %>

<tr>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
  <%= custom_number_to_currency(product.price) %>


  </td>
  <td>
    <div>
      <%= button_to remove_item_cart_path(product_id: product.id), class: 'btn btn-xs btn-danger', aria_label: 'Reduce quantity' do %>
        -
      <% end %>
      <%= quantity %>
      <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-xs btn-success', aria_label: 'Increase quantity' do %>
        +
      <% end %>
    </div>
  </td>
  <td>
  <%= custom_number_to_currency(product.price * quantity) %>


  </td>
</tr>
